# Average House Price in Pandas

In [2]:
import pandas as pd

In [5]:
!head "data/address_book.csv"

Address,City,State,Zipcode,Price
4611 Marshall Street,Hanover,MD,21076,18000
437 Kooter Lane,Charlotte,NC,28202,20000
2895 Pinewood Drive,Schaumburg,IL,60173,54000
2665 Middlevilee Road,Santa Fe Spring,CA,90670,78800
1906 Linda Street,Horsham,PA,19044,13499
4612 Marshall Street,Hanover,MD,21076,25000
438 Kooter Lane,Charlotte,NC,28202,48000
2896 Pinewood Drive,Schaumburg,IL,60173,21400
2666 Middlevilee Road,Santa Fe Spring,CA,90670,35460

In [6]:
df = pd.read_csv("data/address_book.csv")
df.head()

                 Address             City State  Zipcode  Price
0   4611 Marshall Street          Hanover    MD    21076  18000
1        437 Kooter Lane        Charlotte    NC    28202  20000
2    2895 Pinewood Drive       Schaumburg    IL    60173  54000
3  2665 Middlevilee Road  Santa Fe Spring    CA    90670  78800
4      1906 Linda Street          Horsham    PA    19044  13499

In [7]:
df_mean = df.groupby("Zipcode").mean()
print(df_mean)

            Price
Zipcode
19044    30580.25
21076    27875.00
28202    44750.00
60173    43300.00
90670    56277.50