# Average House Price in Snowflake

In [ ]:
- must define schema first


# https://docs.snowflake.com/en/user-guide/data-load-web-ui.html#step-1-opening-the-load-data-wizard


1) create db
2) create schema
3) create file format
4) follow procedure for Loading Data -> https://docs.snowflake.com/en/user-guide/data-load-web-ui.html#step-1-opening-the-load-data-wizard



SELECT * FROM "TESTDB"."TESTSCHEMA"."DBTESTTABLE";


SELECT Zipcode, AVG(Price) FROM "TESTDB"."TESTSCHEMA"."DBTESTTABLE" GROUP BY Zipcode ORDER BY Zipcode ASC LIMIT 10;

In [4]:
!/home/ubuntu/bin/snowsql --query "PUT file://./data/address_book.csv '@mystage';"

* SnowSQL * v1.2.21
Type SQL statements or !help
                                                                                +------------------+---------------------+-------------+-------------+--------------------+--------------------+----------+---------+
| source           | target              | source_size | target_size | source_compression | target_compression | status   | message |
|------------------+---------------------+-------------+-------------+--------------------+--------------------+----------+---------|
| address_book.csv | address_book.csv.gz |         932 |         352 | NONE               | GZIP               | UPLOADED |         |
+------------------+---------------------+-------------+-------------+--------------------+--------------------+----------+---------+
1 Row(s) produced. Time Elapsed: 0.555s
                                                                                Goodbye!

In [5]:
!/home/ubuntu/bin/snowsql --query "COPY INTO HOUSEPRICE FROM '@mystage:address_book.csv';"

* SnowSQL * v1.2.21
Type SQL statements or !help
                                                                                001757 (42601): SQL compilation error:
Table 'HOUSEPRICE' does not exist
                                                                                Goodbye!

In [2]:
!/home/ubuntu/bin/snowsql --query "SELECT * FROM TESTDB.TESTSCHEMA.DBTESTTABLE;"

* SnowSQL * v1.2.21
Type SQL statements or !help
                                                                                002003 (02000): SQL compilation error:
Database 'TESTDB' does not exist or not authorized.
                                                                                Goodbye!

In [3]:
!/home/ubuntu/bin/snowsql --query "SELECT Zipcode, AVG(Price) \
                                   FROM TESTDB.TESTSCHEMA.DBTESTTABLE \
                                   GROUP BY Zipcode \
                                   ORDER BY Zipcode ASC \
                                   LIMIT 10;"

* SnowSQL * v1.2.21
Type SQL statements or !help
                                                                                002003 (02000): SQL compilation error:
Database 'TESTDB' does not exist or not authorized.
                                                                                Goodbye!