# Average House Price in Snowflake

In [1]:
!/home/ubuntu/bin/snowsql --query "PUT file://./data/address_book.csv '@mystage';"

* SnowSQL * v1.2.21
Type SQL statements or !help
                                                                                +------------------+---------------------+-------------+-------------+--------------------+--------------------+---------+---------+
| source           | target              | source_size | target_size | source_compression | target_compression | status  | message |
|------------------+---------------------+-------------+-------------+--------------------+--------------------+---------+---------|
| address_book.csv | address_book.csv.gz |         932 |           0 | NONE               | GZIP               | SKIPPED |         |
+------------------+---------------------+-------------+-------------+--------------------+--------------------+---------+---------+
1 Row(s) produced. Time Elapsed: 0.839s
                                                                                Goodbye!

In [2]:
!cat data/address_book.csv

Address,City,State,Zipcode,Price
4611 Marshall Street,Hanover,MD,21076,18000
437 Kooter Lane,Charlotte,NC,28202,20000
2895 Pinewood Drive,Schaumburg,IL,60173,54000
2665 Middlevilee Road,Santa Fe Spring,CA,90670,78800
1906 Linda Street,Horsham,PA,19044,13499
4612 Marshall Street,Hanover,MD,21076,25000
438 Kooter Lane,Charlotte,NC,28202,48000
2896 Pinewood Drive,Schaumburg,IL,60173,21400
2666 Middlevilee Road,Santa Fe Spring,CA,90670,35460
1907 Linda Street,Horsham,PA,19044,26022
4613 Marshall Street,Hanover,MD,21076,45200
439 Kooter Lane,Charlotte,NC,28202,35300
2897 Pinewood Drive,Schaumburg,IL,60173,48400
2667 Middlevilee Road,Santa Fe Spring,CA,90670,26750
1908 Linda Street,Horsham,PA,19044,15600
4614 Marshall Street,Hanover,MD,21076,23300
440 Kooter Lane,Charlotte,NC,28202,75700
2898 Pinewood Drive,Schaumburg,IL,60173,49400
2668 Middlevilee Road,Santa Fe Spring,CA,90670,84100
1909 Linda Street,Horsham,PA,19044,67200

In [3]:
!/home/ubuntu/bin/snowsql --query "COPY INTO HOUSEPRICE.HOUSEPRICESCHEMA.HOUSEPRICE \
                                   FROM '@mystage' \
                                   on_error = continue;"

* SnowSQL * v1.2.21
Type SQL statements or !help
                                                                                +---------------------------------------+
| status                                |
|---------------------------------------|
| Copy executed with 0 files processed. |
+---------------------------------------+
1 Row(s) produced. Time Elapsed: 1.247s
                                                                                Goodbye!

In [4]:
!/home/ubuntu/bin/snowsql --query "SELECT * FROM HOUSEPRICE.HOUSEPRICESCHEMA.HOUSEPRICE LIMIT 10;"

* SnowSQL * v1.2.21
Type SQL statements or !help
                                                                                +-----------------------+-----------------+-------+---------+-------+
| ADDRESS               | CITY            | STATE | ZIPCODE | PRICE |
|-----------------------+-----------------+-------+---------+-------|
| 4611 Marshall Street  | Hanover         | MD    |   21076 | 18000 |
| 437 Kooter Lane       | Charlotte       | NC    |   28202 | 20000 |
| 2895 Pinewood Drive   | Schaumburg      | IL    |   60173 | 54000 |
| 2665 Middlevilee Road | Santa Fe Spring | CA    |   90670 | 78800 |
| 1906 Linda Street     | Horsham         | PA    |   19044 | 13499 |
| 4612 Marshall Street  | Hanover         | MD    |   21076 | 25000 |
| 438 Kooter Lane       | Charlotte       | NC    |   28202 | 48000 |
| 2896 Pinewood Drive   | Schaumburg      | IL    |   60173 | 21400 |
| 2666 Middlevilee Road | Santa Fe Spring | CA    |   90670 | 35460 |
| 1907 Linda Street     | Horsham         | PA    |   19044 | 26022 |
+-----------------------+-----------------+-------+---------+-------+
10 Row(s) produced. Time Elapsed: 0.718s
                                                                                Goodbye!

In [5]:
!/home/ubuntu/bin/snowsql --query "SELECT Zipcode, AVG(Price) \
                                   FROM HOUSEPRICE.HOUSEPRICESCHEMA.HOUSEPRICE \
                                   GROUP BY Zipcode \
                                   ORDER BY Zipcode ASC \
                                   LIMIT 10;"

* SnowSQL * v1.2.21
Type SQL statements or !help
                                                                                +---------+--------------+
| ZIPCODE |   AVG(PRICE) |
|---------+--------------|
|   19044 | 30580.250000 |
|   21076 | 27875.000000 |
|   28202 | 44750.000000 |
|   60173 | 43300.000000 |
|   90670 | 56277.500000 |
+---------+--------------+
5 Row(s) produced. Time Elapsed: 0.158s
                                                                                Goodbye!