# Dask Word Count

Make sure your client has `pip install msgpack==1.0.2 numpy==1.20.3 pandas==1.2.3 requests aiohttp`.

In [1]:
from dask.distributed import Client
client = Client() # run on localhost

In [2]:
import dask.dataframe as dd

In [7]:
# pulling from remote makes distributing data across workers easy for this demo
file_path = "https://raw.githubusercontent.com/enricorotundo/hadoop-examples-mapreduce/main/src/test/resources/data/wordcount.txt"
df = dd.read_csv(file_path, header=None)

# count words
wc_df = (
    df[0]
    .str
    .split() # splits around ' ' separator
    .explode() # transform each element of a list-like to a row
    .value_counts()
    .reset_index()
)
wc_df

Dask DataFrame Structure:
                index      0
npartitions=1
               object  int64
                  ...    ...
Dask Name: reset_index, 7 tasks

In [8]:
wc_df.columns = ['Word', 'Frequency']
wc_df = wc_df.sort_values(['Frequency', 'Word'], ascending=False)

wc_df.compute()

               Word  Frequency
0               the         38
1                 a         28
2                of         25
3              word         24
4               and         23
..              ...        ...
277        Contents          1
278  Classification          1
279        American          1
320         America          1
221              10          1

[381 rows x 2 columns]